<div data-collapse="medium" data-animation="default" data-duration="0" data-easing="ease-in-sine" data-easing2="ease-in-sine" role="banner" class="navbar-2-0 symble navbar-2-0-symbol w-nav">
    <div class="container w-container">
      <a href="/" aria-current="page" class="brand w-nav-brand w--current">{%- image "/assets/images/logo-black-horizontal.svg", "logo horizontal", '[]', 'loading="lazy" class="sienna-logo-navbar" width="130"' -%}</a>
      <nav role="navigation" class="nav-menu w-nav-menu">
        <div data-hover="false" data-delay="0" class="dropdown w-dropdown">
          <div class="dropdown-toggle-navbar w-dropdown-toggle">
            <div class="w-icon-dropdown-toggle"></div>
            <div class="dropdown why-sienna">Why Sienna</div>
          </div>
          <nav class="dropdown-list why-sienna w-dropdown-list">
            <a href="/privacy-by-default" class="dropdown-link privacy-by-default w-dropdown-link">Privacy by default</a>
            <a href="/fully-decentralized" class="dropdown-link instant-transactions w-dropdown-link">Fully decentralized</a>
            <a href="/automated-market-maker" class="dropdown-link amm w-dropdown-link">Automated Market Maker</a>
          </nav>
        </div>
        <div data-hover="false" data-delay="0" class="products-dropdown w-dropdown">
          <div class="dropdown-toggle-navbar w-dropdown-toggle">
            <div class="w-icon-dropdown-toggle"></div>
            <div class="dropdown products">Features</div>
          </div>
          <nav class="dropdown-list products w-dropdown-list">
            <a href="/bridge" class="dropdown-link w-dropdown-link">Bridges</a>
            <a href="/swap" class="dropdown-link w-dropdown-link">Swap</a>
            <a href="/tokens" class="dropdown-link w-dropdown-link">Tokens</a>
          </nav>
        </div>
        <div data-hover="false" data-delay="0" class="inside-sienna-dropdown w-dropdown">
          <div class="dropdown-toggle-navbar w-dropdown-toggle">
            <div class="w-icon-dropdown-toggle"></div>
            <div class="dropdown inside-sienna">Inside Sienna</div>
          </div>
          <nav class="dropdown-list w-dropdown-list">
            <a href="/about" class="dropdown-link w-dropdown-link">A Symbol of Innovation</a>
            <a href="/roadmap" class="dropdown-link w-dropdown-link">Roadmap</a>
            <a href="/community" class="dropdown-link w-dropdown-link">Community</a>
            <a href="/contributors" class="dropdown-link w-dropdown-link">Contributors</a>
            <a href="/brand-assets" class="dropdown-link w-dropdown-link">Brand Assets</a>
            <a href="/faq" class="dropdown-link w-dropdown-link">FAQ</a>
          </nav>
        </div>
        <a href="/blog" class="blog-link-navbar w-nav-link">Blog</a>
        <a href="https://app.sienna.network" class="blog-link-navbar launch-app w-nav-link">Launch app</a>
      </nav>
      <div class="menu-button w-nav-button">
        <div class="burger-menu w-icon-nav-menu"></div>
      </div>
    </div>
  </div>